.logo {
  color: #fff;
  font-family: Segoe UI;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 92.308% */
  font-variant: all-small-caps;
  letter-spacing: 0.52px;

  margin-top: -8px;
}
