.checkout-with-sale,
.checkout-without-sale,
.checkout-sale,
.checkout-delivery {
  display: flex;
  justify-content: space-between;
}

.checkout-with-sale__value {
  color: var(--black);

  font-family: "Segoe UI";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;

  margin-bottom: 8px;
}

.checkout-without-sale__title,
.checkout-without-sale__value,
.checkout-sale__title,
.checkout-sale__value,
.checkout-delivery__title,
.checkout-delivery__value {
  color: var(--black);

  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
