.customer-form {
  margin-top: 8px;
}

.customer-form > div {
  padding-top: 13px;
  padding-bottom: 16px;
}

.customer-form__container:not(:last-child) {
  margin-bottom: 16px;
}

.customer-form__container {
  position: relative;
}

.customer-form__input {
  /* Сайт/Body */
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */

  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  width: 100%;
}

.customer-form__input::placeholder {
  color: var(--gray);
}

.customer-form__input:focus {
  outline: none;
}

.customer-form__container_label {
  display: none;
}

.customer-form__input:focus ~ .customer-form__container_label {
  display: block;
  position: absolute;

  top: -3px;
  left: 0;
  color: var(--light-gray);

  font-family: Segoe UI;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
}

/* ERROR */
.customer-form_error > input {
  color: var(--orange);
}
.customer-form_error > .customer-form__error {
  position: absolute;
  top: 45px;
  color: var(--orange);

  font-family: Segoe UI;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
}

/* #customer-tax-id__input:focus ~ #customer-form__tax-info {
  display: none;
} */

.customer-form_error > .customer-form__line {
  background-color: var(--orange);
}

/* ERROR END */

.customer-form__line {
  height: 0.9px;
  margin-top: 2.2px;
  background-color: var(--line-input);
}

#customer-form__tax-info {
  position: absolute;
  top: 45px;

  color: var(--black);
  font-family: Segoe UI;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
}

@media screen and (min-width: 1024px) {
  .customer-form {
    margin-top: 21px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .customer-form__container:not(:last-child) {
    margin-bottom: 8px;
  }

  .customer-form__name,
  .customer-form__surname {
    width: 282px;
  }

  .customer-form__email,
  .customer-form__phone,
  .customer-form__tax-id {
    width: 180px;
  }
}

@media screen and (min-width: 1400px) {
  .customer-form__name,
  .customer-form__surname {
    width: 338px;
  }

  .customer-form__email,
  .customer-form__phone,
  .customer-form__tax-id {
    width: 217px;
  }
}
