.customer-form {
  margin-top: 8px;
}

.customer-form > div {
  padding-top: 13px;
  padding-bottom: 16px;
}

.customer-form__container:not(:last-child) {
  margin-bottom: 16px;
}

.customer-form__container {
  position: relative;
}

.customer-form__input {
  /* Сайт/Body */
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */

  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  width: 100%;
}

.customer-form__input::placeholder {
  color: var(--gray);
}

.customer-form__input:focus {
  outline: none;
}

.customer-form__container:has(.customer-form__input_active)::before {
  content: "Телефон";
  position: absolute;

  top: -3px;
  left: 0;
  color: var(--light-gray);

  font-family: Segoe UI;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
}

/* ERROR */
.customer-form__container:has(.customer-form__input_error)::after {
  content: "Используйте латинские буквы";
  position: absolute;

  top: 45px;
  left: 0;

  font-family: Segoe UI;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */

  color: var(--light-red);
}
/* ERROR END */

.customer-form__line {
  height: .9px;
  margin-top: 2.2px;
  background-color: var(--line-input);
}

.customer-form__tax-id::after {
  content: "Для таможенного оформления";
  position: absolute;
  top: 45px;

  color: var(--black);
  font-family: Segoe UI;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
}
