.payment-card {
  display: flex;
  align-items: baseline;
}

.payment-card__icon {
  width: 32px;
  height: 24px;
  border-radius: 4px;
  background: var(--smoky);

  margin-top: 8px;
}

.payment-card__number {
    margin-left: 8px;
}

.payment-card__date {
    margin-left: 12px;
}

@media screen and (min-width: 1024px) {
  .payment-card {
    margin-top: 8px;
  }
}