.cart-item:not(:last-child) {
  margin-bottom: 13px;
}

.product.product_hidden {
  display: none;
}

.cart-item-wrapper {
  display: grid;
  grid-template-columns: 81px 1fr;
  grid-template-rows: 25px 1fr 46px;
}

.cart-item-image-container {
  position: relative;

  height: 107px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.cart-item__hr {
  height: 1px;
  width: 100%;

  margin-top: 1px;

  margin-bottom: 12px;
  background-color: var(--hr-color);
}

.cart-item__image {
  width: 81px;
  height: 107px;
}

.cart-item__check {
  position: absolute;
  top: 2px;
  left: 4px;
}

.cart-item__size {
  position: absolute;
  top: 81px;
  left: 4px;
  display: flex;
  width: 22px;
  height: 22px;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;

  color: var(--black);

  font-family: "Segoe UI";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.cart-item__price {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-left: 16px;

  color: var(--black);

  margin-top: 1px;

  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;

}

.cart-item__price_old {
  color: var(--gray);
  margin-left: 5px;
  position: relative;

  text-decoration: dashed;

  font-family: "Segoe UI";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.cart-item__price_old::before {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 6px;
  width: 100%;
  height: 1px;
  background-color: var(--gray);
}

.cart-item__price_old::after {
  content: "";
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  position: absolute;
  background-image: url("../../../../../public/images/icons/dash.svg");
  background-repeat: repeat-x;
  overflow: hidden;
  color: var(--gray);
}

.cart-item-description {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  padding-left: 15px;
}

.cart-item-description__title {
  color: var(--text-black, #000);

  margin-top: 2px;

  font-family: "Segoe UI";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.cart-item-description__color {
  color: var(--black);
  margin-top: 7px;

  font-family: "Segoe UI";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.cart-item-description__stock {
  color: var(--gray);

  margin-top: 7px;

  font-family: "Segoe UI";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.cart-item-buttons-wrap {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;

  height: 32px;

  display: flex;
  align-items: center;

  margin-top: 12px;

}

.cart-item-buttons-wrap-counter {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  padding: 0 2px;

  background: var(--white);
  width: 80px;
  height: 32px;
}

.cart-item-buttons-wrap-counter__minus,
.cart-item-buttons-wrap-counter__plus {
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50% -50%);
}

.cart-item-buttons-wrap-counter__count {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  color: var(--black);

  font-family: "Segoe UI";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.cart-item-buttons-wrap-items-left {
  color: var(--red-accent);

  margin-left: 16px;

  font-family: "Segoe UI";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.cart-item-buttons-wrap-icons {
  margin-right: 12px;
  margin-left: auto;
  margin-top: 5px;
  width: 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-buttons-wrap-icons__fav > img {
  cursor: pointer;
}

.cart-item-buttons-wrap-icons__delete > img {
  cursor: pointer;
}
