:root {
  /* colors */
  --violet: #6725a8;
  --magenta: #cb11ab;
  --white: #ffffff;
  --black: #000000;
  --hr-color: rgba(0, 0, 0, 0.1);
  --gray: #9797af;
  --light-gray: #A0A0A4;
  --smoky: #f6f6fa;
  --dark-smoky: #F0ECF4;
  --red-accent: #ff3b30;
  --light-red: #c20013;
  --orange: #f55123;
  --green: #0cb477;
  --line-input: rgba(0, 0, 0, 0.20);
  /* paddings */
  --padding-mobile: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--violet);
}

main {
  border-radius: 24px;
  background-color: var(--smoky);
}

main > section {
  padding: 0 var(--padding-mobile);
}

header,
section,
footer {
  padding: 0 16px;
}
