:root {
  --violet: #6725a8;
  --magenta: #cb11ab;
  --white: #ffffff;
  --black: #000000;
  --hr-color: rgba(0, 0, 0, 0.1);
  --gray: #9797af;
  --light-gray: #a0a0a4;
  --smoky: #f6f6fa;
  --dark-smoky: #f0ecf4;
  --red-accent: #ff3b30;
  --light-red: #c20013;
  --orange: #f55123;
  --green: #0cb477;
  --line-input: rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: "Segoe UI";
  src: url('../fonts/segoeui.ttf') format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Segoe UI";
  src: url('../fonts/seguisb.ttf') format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Segoe UI";
  src: url('../fonts/segoeuib.ttf') format("truetype");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100dvh;
  background-color: var(--violet);
}

body {
  overflow-y: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--violet);
}

body > * {
  max-width: 1400px;
  margin: 0 auto;
}

body.modal_active {
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.sections {
  border-radius: 24px;
  background-color: var(--smoky);
}

header,
section,
footer {
  padding: 0 16px;
}

@media screen and (min-width: 1024px) {
  .sections {
    padding-bottom: 50px;
    display: flex;
  }

  .flex-left {
    padding-left: 9px;
    max-width: 949px;
  }
  .cart, .missing {
    padding-right: 33px;
  }

  .flex-right .checkout {
    min-width: 303px;
  }

  section:not(.checkout).customer,
  section:not(.checkout).payment,
  section:not(.checkout).delivery {
    padding-right: 24px;
    padding-left: 24px;
  }
  
  .sections > section {
    padding: 0 24px;
  }

  .delivery, .payment, .customer {
    margin-left: 14px;
    margin-right: 34px;
    padding-top: 16px;
    padding-bottom: 19px;
    padding-right: 23px;
  }

  footer {
    padding: 0;
  }

  header {
    padding-left: 24px;
    padding-right: 23px;
  }
}
