button {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

input {
    border: none;
}

h4 {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
}