.delivery-info.checkout-info {
    background-color: var(--smoky);
    padding: 8px 8px 12px 8px;
    border-radius: 8px;
    margin-top: 16px;
}

@media screen and (min-width: 1024px) {
    .delivery-info.checkout-info {
        margin-top: 13px;
    }
}