.cart__label {
  color: var(--text-black, #000);
  padding-top: 15px;

  font-family: "Segoe UI";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
}

@media screen and (min-width: 1024px) {
  .cart__label {
    font-size: 28px;
    padding-top: 38px;
  }
}
