.checkout-terms-of-service {
  margin-top: 12px;
  display: flex;
  align-items: flex-start;
}

.checkout-terms-links {
  color: var(--black);
  margin-left: 8px;

  font-family: "Segoe UI";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.checkout-terms-links > * {
  font-family: "Segoe UI";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.checkout-terms-links-item {
  color: var(--black);

  text-decoration: none;
}

.checkout-terms-links-item__underline {
  border-bottom: 1px solid var(--hr-color);
  line-height: 0.85;
}

@media screen and (min-width: 1024px) {
  .checkout-terms-links {
    max-width: 218px;
  }
}

@media screen and (min-width: 1400px) {
  .checkout-terms-links {
    max-width: 100%;
  }
}