.product.missing-item:not(:last-child) {
  margin-top: -1px;
}

.missing-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 45px;

  color: var(--text-black, #000);

  /* Сайт/Body-semibold */
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */

  margin-bottom: 17px;
}

.missing-item-description > div {
  color: var(--gray);
}

.missing-item img {
  filter: grayscale(1);
  opacity: 92%;
  border-radius: 8px;
}

.product-wrapper.missing-item-wrapper {
  display: grid;
  grid-template-columns: 81px 1fr;
  grid-template-rows: 1fr auto;
}

.product-description.missing-item-description {
  grid-row-start: 1;
  grid-row-end: 2;
}

.product-image-container.missing-item-image-container {
  grid-row-end: 2;
}

.product-buttons-wrap.missing-item-buttons-wrap {
  margin-top: 7px;
}

.missing-item-buttons-wrap > div {
  margin-right: 4px;
}

@media screen and (min-width: 1024px) {
  .missing {
    margin-top: -9px;
  }

  .missing-container {
    margin-top: 34px;
  }

  .accordeon {
    margin-right: 0px;
  }

  .missing-item-image-container > label {
    display: none;
  }

  .missing-item-image-container > img {
    margin-left: 0;
  }

  .product.missing-item:last-child {
    margin-top: 0px;
  }

  .product-description.missing-item-description {
    padding-left: 7px;
  }

  .product-image-container.missing-item-image-container {
    width: fit-content;
  }

  .missing-item-description > .product-description__title {
    width: 310px;
  }

  .product-buttons-wrap.missing-item-buttons-wrap {
    margin-top: 0;
  }

  .missing-item-buttons-wrap>.product-buttons-wrap-icons {
    margin-top: 0;
    margin-right: 125px;
  }
}

@media screen and (min-width: 1400px) {
  .missing {
    margin-top: 0;
  }
}