/* .cart__button {
    height: 20px;
    width: 20px;
    border: none;
    background-color: inherit;
    background-image: url('../../../../../public/images/icons/arrow.svg');
    margin-right: 4px;

    cursor: pointer;
} */

@media screen and (min-width: 1024px) {
  .cart__button.accordeon {
    margin-right: -1px;
    margin-top: 0;
  }
}
