.payment-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .payment-header__method {
    color: var(--black);
  
    /* Сайт/Н3-new */
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    letter-spacing: -0.2px;
  }
  
  .payment-header__change {
    color: var(--magenta);
    text-align: right;
  
    /* Сайт/H4 */
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }