@import url('./__logo/header__logo.css');
@import url('./__menu/header__menu.css');
@import url('./__search/header__search.css');

.mobile-header {
  display: flex;
  height: 56px;
  padding: 0px 13px;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  background-color: var(--violet);

  position: sticky;
  top: 0;

  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .mobile-header {
    display: none;
  }
}
